@import "../../style.scss";

.chat {
  @include themify($themes) {
    background-color: themed("bgSoft");
    padding: 20px 70px;
    color: themed("textColor");
    display: flex;
    flex-direction: column;
    height: calc(100vh - 111px);
    justify-content: space-between;
  }
  & > div:not(:first-child) {
    margin-top: 20px;
  }
  .header {
    display: flex;
    .chat__header-image {
      width: 50px;
      height: 50px;
      border-radius: 35px;
      background-color: greenyellow;
    }
    .companion-info {
      position: relative;
      left: 40%;
      display: flex;
      flex-direction: column;
    }
  }
  .messages {
    height: 70%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0;
    }
    & > div {
      width: 10em;
      min-height: auto;
      font-size: 19px;
      letter-spacing: 1px;
      padding: 5px;
      padding-top: 10px;
      padding-left: 10px;
      border-radius: 30px;
      margin-bottom: 10px;
      word-wrap: break-word;
    }
    .message_recepient {
      position: relative;
      left: 65%;
      background-color: rgb(255, 153, 0);
      border-radius: 10px 0 10px 0;
    }
    .message_receiver {
      position: relative;
      border-radius: 0 10px 10px 10px;
      background-color: blueviolet;
    }
    .message_text {
    }
    .message_time {
      position: absolute;
      bottom: 5px;
      right: 8px;
      font-size: 10px;
    }
  }
  .form {
    display: flex;
    justify-content: space-between;
    .chat_input {
      resize: none;
      padding-left: 10px;
      padding-top: 6px;
      font-size: 17px;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        width: 0;
      }
      overflow: scroll;
      &:focus {
        outline: none !important;
      }
    }
    .chat_btn {
      width: 58px;
      background-color: white;
      height: 40px;
      align-self: center;
    }
  }
}
