@import "../../style.scss";

.chat {
  @include themify($themes) {
    background-color: themed("bgSoft");
    padding: 20px 70px;
    color: themed("textColor");
    display: flex;
    flex-direction: column;
    height: calc(100vh - 111px);
    justify-content: space-between;
  }
  & > div:not(:first-child) {
    margin-top: 20px;
  }
  .header {
    display: flex;
    .chat__header-image {
      width: 50px;
      height: 50px;
      border-radius: 35px;
      background-color: greenyellow;
    }
    .companion-info {
      position: relative;
      left: 40%;
      display: flex;
      flex-direction: column;
    }
  }
  .messages {
    height: 70%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0;
    }
    & > div {
      width: 10em;
      min-height: auto;
      font-size: 19px;
      letter-spacing: 1px;
      padding: 5px;
      padding-top: 10px;
      padding-left: 10px;
      border-radius: 30px;
      margin-bottom: 10px;
      word-wrap: break-word;
    }
    .message_recepient {
      position: relative;
      left: 65%;
      background-color: rgb(255, 153, 0);
    }
    .message_receiver {
      background-color: blueviolet;
    }
  }
}
