@import "../../style.scss";
.onlineStatus {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  position: absolute;
  background-color: #9aff00;
  top: -5%;
  left: 63%;
}
.followings {
  @include themify($themes) {
    padding: 20px 70px;
    background-color: themed("bgSoft");
    min-height: 100vh;
    .followings__findInput {
      border: none;
      border-radius: 5px;
      width: 20em;
      height: 2em;
      letter-spacing: 1px;
      padding: 0 15px;
      font-size: 16px;
      &:focus {
        outline: none !important;
      }
    }
    .following {
      display: flex;
      flex-direction: row;
      margin: 30px 20px;
      gap: 30px;
      font-size: 20px;
      img {
        width: 100px;
        border-radius: 50%;
        height: 100px;
      }
      .followingInfo {
        color: themed("textColor");
      }
    }
  }
}
